footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
}

.footers {
  margin-top: 0;
  margin-bottom: 0;
  color: $second-accent-color;
}